
	

#container {
	width: 100%;
	margin-right: auto;
  margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
  
}



body {
	
  background-image: url("../images/background2.jpg");
  background-size:cover;
  
}

.text-left{
  margin-right:26%;
  margin-top:15%;
  font-weight: bold;
  font-kerning: normal;
color: #048FC5;
text-shadow: 0 0 3vw rgb(119, 198, 224);
font-size: larger;
}



#myheader{
    text-align: center;
    color:#048FC5;
}
h2{
  padding-top: 5%;
  color: #048FC5;
}
	h3{
    color: #048FC5;
  }
  li{
    color: #048FC5;
  }
  p{
    color: #048FC5;
  }
ol{
  color: #048FC5;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
    color: #048FC5;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;

}
  
  .tab button {
    padding: 1em 2em;
    padding-top: 25px;
    border: 2px solid var(--colorShadeA);
   border-radius: 1em;
   background: var(--colorShadeE);
 transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    
    left:25%;
    right:25%;
    
 }
 
  
  
  .tab button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  }
  
 
 
  
  






img[alt*="Letter"]{
    width: 400px;
    height: 400px;
}



.bar{
  background-color: #048FC5;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color:#048FC5;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #ffcc33;
}
.bar.back::before{
  background-color: #a6cfe3;
}



.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color:  #100e17;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
   margin-top:5% ;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}
#blackcard{
  position: absolute;
  height: 300px;
  width: 600px;
  top: 160px;
  left: calc(50% - 300px);
  display: flex;
  margin-top: 10%;
}


.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}



.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}



.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
img[alt*="writingimg"]{
  width:100%;
  height:100%;
  
}
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 7vw;
  line-height: 7vw;
  text-shadow: 0 0 3vw #2356FF;
}
.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}